.values-color {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 0.5em;
}

.flex-values {
    display: flex;
    flex-direction: row;
}

.one, .two, .three, .four, .five {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.landing-page .main-menu-small .container .one {
    background-image: url("../imgs/menu/colors.png");
}

.landing-page .main-menu-small .container .two {
    background-image: url("../imgs/menu/typo.png");
}

.landing-page .main-menu-small .container .three {
    background-image: url("../imgs/menu/logo.png");
}

.landing-page .main-menu-small .container .four {
    background-image: url("../imgs/menu/art.png");
}

.landing-page .main-menu-small .container .five {
    background-image: url("../imgs/menu/tone_voice.png");
}