
.screen-box {
text-align: center;
}

.screen {
    max-width: 80%;
    margin: auto;
    box-shadow: 0 0 6px #000;
}

.newsletter {
    max-width: 50%;
    margin: auto;
    box-shadow: 0 0 6px #000;
}

.ib_style_box {
    max-width: 45%;
    padding: 0.5em;
    margin: 0.5em;
}

.ib_style_box img {
    max-width: 100%;
    justify-self: center;
}

.example {
    margin-top: 2em;
    box-shadow: 0 0 6px #000;
}

.example-poker {
    margin-top: 2.5em;
    box-shadow: 0 0 6px #000;
}