  
#main {
    transition: margin-left .5s;
    padding: 0px;
}
.landing-page .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/CVI_top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    padding: 1em 0;
}

.landing-page .top .image_top {
    margin: 7em auto;
    text-align: center;
}

.landing-page .top .image_top .main-logo {
    margin: auto;
    text-align: center;
    max-width: 500px;
}

.landing-page .lp-body .upgrades ul {
    margin: 0;
    padding: 0;
}

.landing-page .lp-body .upgrades ul li {
    list-style: none;
    margin-bottom: 1.5em;
}

.one, .two, .three, .four, .five {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.landing-page .main-menu-small .container .one {
    background-image: url("../imgs/menu/coolbet.png");
}

.landing-page .main-menu-small .container .two {
    background-image: url("../imgs/menu/brand.png");
}

.landing-page .main-menu-small .container .three {
    background-image: url("../imgs/menu/merch.png");
}

.landing-page .main-menu-small .container .four {
    background-image: url("../imgs/menu/ads.png");
}

.landing-page .main-menu-small .container .five {
    background-image: url("../imgs/menu/web.png");
}
